[core]
  editor = vim
  excludesfile = ~/.gitignore

[user]
  name  = mmyoji
  email = mmyoji@gmail.com

[alias]
  a   = add
  aa  = add --all
  b   = branch
  co  = checkout
  sw  = switch
  swc = switch --create
  cma = commit --amend -v
  fix = commit --amend --no-edit
  cmv = commit -v --no-verify
  com = commit -v
  d   = diff
  dw  = diff --word-diff-regex=. --word-diff=color
  l   = log --graph
  lo  = log --oneline
  ps  = push -u
  r   = rebase
  s   = status -sb

  search          = log -p -S
  show-conflicted = diff --name-only --diff-filter=U
  vtree           = log --pretty=oneline --graph --decorate --all

[commit]
  template = ~/.commit_template

[diff]
  indentHeuristic = true

[fetch]
  prune = true

[init]
  defaultBranch = main

[log]
  abbrevCommit = true

[pager]
  diff = diff-highlight | less
  log = diff-highlight | less
  show = diff-highlight | less

[pull]
  rebase = false

[push]
  default = simple

[rebase]
  autosquash = true
  autostash  = true

[github]
  user = mmyoji

