[user]
  name  = mmyoji
  email = mmyoji@gmail.com

[core]
  editor = vim
  excludesfile = ~/.gitignore

[push]
  default = simple

[pull]
  rebase = false

[alias]
  a   = add
  aa  = add --all
  b   = branch
  co  = checkout
  cob = checkout -b
  cma = commit --amend -v
  cmv = commit -v --no-verify
  com = commit -v
  d   = diff
  dw  = diff --word-diff-regex=. --word-diff=color
  l   = log --graph
  lo  = log --oneline
  ps  = push -u
  r   = rebase
  s   = status

  search          = log -p -S
  show-conflicted = diff --name-only --diff-filter=U
  vtree           = log --pretty=oneline --graph --decorate --all

[diff]
  indentHeuristic = true

[rebase]
  autosquash = true
  autostash  = true

[fetch]
  prune = true

[github]
  user = mmyoji

[commit]
  template = ~/.commit_template

[init]
  defaultBranch = main
