
((digest . "402a401f0dce9bfb82497626344b2535") (undo-list nil (")" . 372) ((marker*) . 1) ((marker) . -1) nil ("product_url(" . 365) ((marker) . -12) ((marker) . -12) 377 (t 21918 11939 0 0) nil (874 . 882) nil ("p" . -874) nil (871 . 875) nil ("web_common" . 871) ((marker) . -10) ((marker) . -10) 881 (t 21918 11065 0 0) nil ("
" . 191) nil ("        <p>xxxxxxxxxxxxxxxxxxxxxxxxxxx</p>" . 191) (t 21916 52429 0 0) nil (481 . 482) nil ("l" . 481) (t 21916 52419 0 0) nil (" " . 432) nil ("|" . 432) nil ("t" . 432) nil ("c" . 432) nil ("u" . 432) nil ("d" . 432) nil ("o" . 432) nil ("r" . 432) nil ("p" . 432) nil ("|" . 432) (t 21916 52398 0 0) nil (491 . 492) nil ("m" . 491) (t 21916 52356 0 0) nil (928 . 934) nil ("p" . 928) nil ("o" . 928) nil ("t" . 928) (t 21916 52341 0 0) nil ("
" . 964) nil ("  <%= paginate @prodcuts, theme: 'web_', %>" . 964) nil (nil rear-nonsticky nil 963 . 964) (nil fontified nil 890 . 964) (890 . 964) (t 21916 52327 0 0) nil ("  " . 934) (934 . 936) (934 . 935) (t 21916 52325 0 0) nil ("
" . 934) nil ("  <section class=\"pagenation-wrapper\">
    <nav role=\"navigation\">
      <ul class=\"pagination custom-buttons\">
        <li class=\"button\"><a href=\"#0\"><i>Prev</i></a></li>
        <li><a href=\"#0\">1</a></li>
        <li><a href=\"#0\">2</a></li>
        <li><a class=\"current\" href=\"#0\">3</a></li>
        <li><a href=\"#0\">4</a></li>
        <li>
          <span>...</span>
        </li>
        <li><a href=\"#0\">20</a></li>
        <li class=\"button\"><a href=\"#0\"><i>Next</i></a></li>
      </ul>
    </nav>
    <!-- pagination-wrapper -->
  </section>
" . 935) 1488 nil (931 . 933) nil (929 . 931) nil (926 . 928) nil ("n" . -926) nil ("_" . -927) nil (924 . 928) nil (923 . 925) nil (";" . -923) nil (";" . -924) nil (916 . 925) nil ("m" . -916) nil ("y" . -917) nil ("t" . -918) nil (914 . 919) nil (" " . -914) nil (914 . 915) nil (894 . 914) nil (" " . -894) nil (894 . 895) nil (" " . -894) nil ("=" . -895) nil (" " . -896) nil ("[" . -897) nil ("a" . -898) nil (892 . 899) nil (890 . 892) ("  " . 889) (888 . 892) (t 21916 52284 0 0) nil ("
" . 880) nil ("    </div>" . 880) nil ("
" . 880) nil ("    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>


    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
" . 881) 8265 (t 21916 52269 0 0) nil (" class=\"\"" . 767) 776 nil (797 . 804) nil ("i" . -797) nil ("r" . -798) nil ("c" . -799) nil ("e" . -800) nil (" " . -801) nil (799 . 802) nil ("e" . -799) nil (795 . 800) nil ("+" . -795) nil ("P" . -796) nil (777 . 797) nil ("$16.00" . 777) 783 nil (746 . 747) nil (">" . -746) nil (727 . 747) nil ("$10.00" . 727) nil (665 . 681) nil ("@" . -665) nil (661 . 666) nil ("e" . 661) nil ("m" . 661) nil ("a" . 661) nil ("n" . 661) nil (" " . 661) nil ("m" . 661) nil ("e" . 661) nil ("t" . 661) nil ("I" . 661) (t 21916 52223 0 0) nil ("            <a href=\"details.html\">
              <img src=\"images/item.png\">
            </a>
" . 538) 633 nil (528 . 537) nil (" " . -528) nil (" " . -529) nil (515 . 530) nil (503 . 515) nil ("c" . -503) nil (492 . 504) nil (" " . -492) nil (492 . 493) nil ("," . -492) nil (" " . -493) nil (475 . 494) nil ("u" . -475) nil (463 . 476) nil ("o" . -463) nil ("m" . -464) nil (463 . 465) nil ("I" . -463) nil (461 . 464) nil ("+" . -461) nil (" " . -462) nil ("i" . -463) nil ("m" . -464) nil ("a" . -465) nil (459 . 466) nil (444 . 459) nil (429 . 444) nil ("o" . -429) nil ("d" . -430) nil (415 . 431) nil ("s" . -415) nil (396 . 416) nil (383 . 396) nil (760 . 762) (741 . 749) ("      " . 741) (733 . 735) (717 . 719) (676 . 678) (627 . 629) (573 . 575) (556 . 558) (511 . 519) ("      " . 511) (496 . 504) ("      " . 496) (487 . 489) (472 . 474) (432 . 434) (394 . 396) (376 . 378) (330 . 338) ("      " . 330) (305 . 307) 735 nil (nil rear-nonsticky nil 734 . 735) (nil fontified nil 301 . 735) (301 . 735) nil ("    <div class=\"box-item\">
      <div class=\"box-item__image\">
        <div>
          <a href=\"details.html\">
            <img src=\"images/item.png\">
          </a>
        </div>
      </div>
      <div class=\"box-item__info\">
        <ul>
          <li class=\"box-item__name\">Item name</li>
          <li class=\"box-item__price\">$10.00
            <span class=\"\">$16.00</span>
          </li>
        </ul>
      </div>
    </div>
" . 316) 750 nil (307 . 314) nil ("e" . -307) nil (305 . 308) nil (" " . -305) nil (" " . -306) nil (300 . 307) nil (297 . 300) nil (289 . 296) nil (279 . 290) nil (" " . -279) nil (267 . 280) nil (263 . 267) ("    " . 262) (261 . 267) (t 21916 52137 0 0) nil ("
" . 263) (t 21916 52129 0 0) nil (168 . 175) nil (170 . 171) nil (150 . 170) nil ("xxxxxxxxx" . 150) nil ("



" . 244) 248 nil ("
" . 58) nil ("
" . 58) nil ("    " . -8644) ("    " . -8633) ("    " . -8603) ("    " . -8592) ("    " . -8582) ("    " . -8523) ("    " . -8486) ("    " . -8472) ("    " . -8447) ("    " . -8432) ("    " . -8396) ("    " . -8344) ("    " . -8308) ("    " . -8272) ("    " . -8211) ("    " . -8164) ("    " . -8134) ("    " . -8093) ("    " . -8083) ("    " . -8074) ("    " . -8063) ("    " . -8051) ("    " . -8037) ("    " . -7998) ("    " . -7951) ("    " . -7899) ("    " . -7884) ("    " . -7847) ("    " . -7834) ("    " . -7821) ("    " . -7808) ("    " . -7770) ("    " . -7734) ("    " . -7718) ("    " . -7680) ("    " . -7651) ("    " . -7639) ("    " . -7628) ("    " . -7616) ("    " . -7602) ("    " . -7563) ("    " . -7516) ("    " . -7464) ("    " . -7449) ("    " . -7412) ("    " . -7399) ("    " . -7386) ("    " . -7373) ("    " . -7335) ("    " . -7299) ("    " . -7283) ("    " . -7245) ("    " . -7216) ("    " . -7204) ("    " . -7193) ("    " . -7181) ("    " . -7167) ("    " . -7128) ("    " . -7081) ("    " . -7029) ("    " . -7014) ("    " . -6977) ("    " . -6964) ("    " . -6951) ("    " . -6938) ("    " . -6900) ("    " . -6864) ("    " . -6848) ("    " . -6810) ("    " . -6781) ("    " . -6769) ("    " . -6758) ("    " . -6746) ("    " . -6732) ("    " . -6693) ("    " . -6646) ("    " . -6594) ("    " . -6579) ("    " . -6542) ("    " . -6529) ("    " . -6516) ("    " . -6503) ("    " . -6465) ("    " . -6429) ("    " . -6413) ("    " . -6375) ("    " . -6346) ("    " . -6334) ("    " . -6323) ("    " . -6311) ("    " . -6297) ("    " . -6258) ("    " . -6211) ("    " . -6159) ("    " . -6144) ("    " . -6107) ("    " . -6094) ("    " . -6081) ("    " . -6068) ("    " . -6030) ("    " . -5994) ("    " . -5978) ("    " . -5940) ("    " . -5911) ("    " . -5899) ("    " . -5888) ("    " . -5876) ("    " . -5862) ("    " . -5823) ("    " . -5776) ("    " . -5724) ("    " . -5709) ("    " . -5672) ("    " . -5659) ("    " . -5646) ("    " . -5633) ("    " . -5595) ("    " . -5559) ("    " . -5543) ("    " . -5505) ("    " . -5476) ("    " . -5463) ("    " . -5452) ("    " . -5440) ("    " . -5426) ("    " . -5387) ("    " . -5340) ("    " . -5288) ("    " . -5273) ("    " . -5236) ("    " . -5223) ("    " . -5210) ("    " . -5197) ("    " . -5159) ("    " . -5123) ("    " . -5107) ("    " . -5069) ("    " . -5040) ("    " . -5028) ("    " . -5017) ("    " . -5005) ("    " . -4991) ("    " . -4952) ("    " . -4905) ("    " . -4853) ("    " . -4838) ("    " . -4801) ("    " . -4788) ("    " . -4775) ("    " . -4762) ("    " . -4724) ("    " . -4688) ("    " . -4672) ("    " . -4634) ("    " . -4605) ("    " . -4593) ("    " . -4582) ("    " . -4570) ("    " . -4556) ("    " . -4517) ("    " . -4470) ("    " . -4418) ("    " . -4403) ("    " . -4366) ("    " . -4353) ("    " . -4340) ("    " . -4327) ("    " . -4289) ("    " . -4253) ("    " . -4237) ("    " . -4199) ("    " . -4170) ("    " . -4158) ("    " . -4147) ("    " . -4135) ("    " . -4121) ("    " . -4082) ("    " . -4035) ("    " . -3983) ("    " . -3968) ("    " . -3931) ("    " . -3918) ("    " . -3905) ("    " . -3892) ("    " . -3854) ("    " . -3818) ("    " . -3802) ("    " . -3764) ("    " . -3735) ("    " . -3723) ("    " . -3712) ("    " . -3700) ("    " . -3686) ("    " . -3647) ("    " . -3600) ("    " . -3548) ("    " . -3533) ("    " . -3496) ("    " . -3483) ("    " . -3470) ("    " . -3457) ("    " . -3419) ("    " . -3383) ("    " . -3367) ("    " . -3329) ("    " . -3300) ("    " . -3288) ("    " . -3277) ("    " . -3265) ("    " . -3251) ("    " . -3212) ("    " . -3165) ("    " . -3113) ("    " . -3098) ("    " . -3061) ("    " . -3048) ("    " . -3035) ("    " . -3022) ("    " . -2984) ("    " . -2948) ("    " . -2932) ("    " . -2894) ("    " . -2865) ("    " . -2853) ("    " . -2842) ("    " . -2830) ("    " . -2816) ("    " . -2777) ("    " . -2730) ("    " . -2678) ("    " . -2663) ("    " . -2626) ("    " . -2613) ("    " . -2600) ("    " . -2587) ("    " . -2549) ("    " . -2513) ("    " . -2497) ("    " . -2459) ("    " . -2430) ("    " . -2418) ("    " . -2407) ("    " . -2395) ("    " . -2381) ("    " . -2342) ("    " . -2295) ("    " . -2243) ("    " . -2228) ("    " . -2191) ("    " . -2178) ("    " . -2165) ("    " . -2152) ("    " . -2114) ("    " . -2078) ("    " . -2062) ("    " . -2024) ("    " . -1995) ("    " . -1983) ("    " . -1972) ("    " . -1960) ("    " . -1946) ("    " . -1907) ("    " . -1860) ("    " . -1808) ("    " . -1793) ("    " . -1756) ("    " . -1743) ("    " . -1730) ("    " . -1717) ("    " . -1679) ("    " . -1643) ("    " . -1627) ("    " . -1589) ("    " . -1560) ("    " . -1548) ("    " . -1537) ("    " . -1525) ("    " . -1511) ("    " . -1472) ("    " . -1425) ("    " . -1373) ("    " . -1358) ("    " . -1321) ("    " . -1308) ("    " . -1295) ("    " . -1282) ("    " . -1244) ("    " . -1208) ("    " . -1192) ("    " . -1154) ("    " . -1125) ("    " . -1113) ("    " . -1102) ("    " . -1090) ("    " . -1076) ("    " . -1037) ("    " . -990) ("    " . -938) ("    " . -923) ("    " . -886) ("    " . -873) ("    " . -860) ("    " . -847) ("    " . -809) ("    " . -773) ("    " . -757) ("    " . -719) ("    " . -690) ("    " . -678) ("    " . -667) ("    " . -655) ("    " . -641) ("    " . -602) ("    " . -555) ("    " . -503) ("    " . -488) ("    " . -451) ("    " . -438) ("    " . -425) ("    " . -412) ("    " . -374) ("    " . -338) ("    " . -322) ("    " . -284) ("    " . -255) ("    " . -234) ("      " . -223) ("      " . -182) ("    " . -131) ("    " . -96) ("    " . -65) ("    " . -31) ("    " . -1) 1 nil (nil rear-nonsticky nil 9987 . 9988) (nil fontified nil 1 . 9988) (1 . 9988) (t 21916 52027 0 0) nil ("<h1>Web::Categories#show</h1>
<p>Find me in app/views/web/categories/show.html.erb</p>
" . 1) 88 (t 21916 50997 0 0)))
