
((digest . "59447537a5445b94543cc10d8ccfab4d") (undo-list (126 . 127) 82 nil (101 . 103) nil (71 . 73) nil ("    <li></li>
    <li></li>
" . 108) ((marker) . -14) ((marker) . -14) ((marker) . -28) ((marker) . -28) ((marker) . -28) ((marker) . -28) 136 nil (nil rear-nonsticky nil 107 . 108) (nil fontified nil 80 . 108) (80 . 108) nil (nil rear-nonsticky nil 79 . 80) (nil fontified nil 52 . 80) (52 . 80) nil (38 . 43) nil ("m" . -38) nil (37 . 39) nil ("s" . -37) nil ("g" . -38) nil (36 . 39) nil ("y" . 36) nil ("d" . 36) nil ("o" . 36) nil ("b" . 36) nil (35 . 41) nil (33 . 36) nil (32 . 34) nil (52 . 56) (38 . 42) (28 . 57) ("li*3" . -28) nil (28 . 32) nil ("<li></li>" . 28) ((marker*) . 9) ((marker) . -1) ((marker*) . 6) ((marker) . -4) ((marker) . -9) nil (38 . 40) (26 . 28) (19 . 41) ("ul>li" . -19) nil (19 . 24) nil (16 . 19) nil (16 . 17) nil (1 . 22) ("#main" . -1) nil (1 . 6) nil ("!" . -1) nil (1 . 2) (t . -1)))
