
((digest . "1734a17fc18d9f0a2f8b7473780c9776") (undo-list nil ("r" . 18) (t 21932 28028 0 0) nil (70 . 71) 26 nil (28 . 63) ("h2{Hello World, from Phoenix!}" . -28) ((marker* . 63) . 1) ((marker . 64) . -30) ((marker* . 68) . 28) ((marker . 69) . -3) nil (48 . 57) nil (31 . 48) (30 . 32) ("{" . -30) (28 . 31) nil (25 . 28) nil (25 . 26) nil (1 . 31) (".jumbortron" . -1) nil (1 . 12) (t . -1)))
